.fireplace4 {
    width: 100%;
    padding-top: 250px;
    text-align: center;
    position: relative;
    
    &__title {
        font-family: 'Lab Grotesque';
        font-style: normal;
        font-weight: 250;
        font-size: 40px;
        line-height: 55px;
        background: linear-gradient(247.29deg, #FFFFFF 35.25%, rgba(255, 255, 255, 0) 104.81%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-transform: uppercase;
    }

    &__text {
        position: relative;
        font-family: 'Lab Grotesque';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 33px;
        text-align: center;
        color: #FFFFFF;
        padding-top: 32px;
        z-index: 1;
    }

    &__kamin5 {
        z-index: 0;
        margin-top: -50px;
        width: 100%;
    }
}