@media (max-width: 1399.98px) {
    .header {
        &__nav {
            .list {
                gap: 10%;
            }
        }
    }

    .fireplace1 {
        padding-left: 5%;
}
}


@media (max-width: 1199px) {

    .fireplace1 {
        &__info {
            width: 60%;
        }

        &__kamin1 {
            width: 40%;
        }
    }
    
    .fireplace3 {
        .refueling {
            &__description2 {
                &-kamin3 {
                    width: 700px;
                }
            
                &-ellipse {
                    margin-left: 400px;
                }

                &-circle2 {
                    width: 154px;
                    height: 154px;
                    margin-left: 300px;
                    margin-top: 200px;
                }

                &-circle1 {
                    width: 68px;
                    height: 68px;
                    margin-left: 200px;
                    margin-top: 80px;
                }

            }
        }       
}

.fireplace5 {
    padding-top: 50px;
    &__blocks {

        &-block2 {
            padding-left: 20px;
        }

        &-block3 {
            padding-left: 20px;
        }

        &-block5 {
            h4 {
                padding-left: 20px;
            }
            p {
                padding-left: 20px;
            }
        }

        &-block6 {
            h4 {
                padding-left: 20px;
            }
            p {
                padding-left: 20px;
            }
        }

}
}
}

@media (max-width: 991px){
    .fireplace1 {
        &__info {
            width: 100%;
            text-align: center;

            &-title {
                font-size: 54px;
            }

            &-applications {
                justify-content: center;
                padding-top: 45px;
            
        }}

        &__kamin1 {
           display: none;
    }
}

    .fireplace2 {
        // padding-top: 20px;
        .kamin2 {
            width: 100%;
        }
    }

    .fireplace3 {
        .refueling {
            &__description2 {
                &-kamin3 {
                    width: 600px;
                    top: -180px;
                }
            
                &-ellipse {
                    margin-left: 330px;
                    margin-top: -100px;
                }

                &-circle2 {
                    width: 134px;
                    height: 134px;
                    margin-left: 230px;
                    margin-top: 150px;
                }
                
                &-circle1 {
                    width: 58px;
                    height: 58px;
                    margin-left: 180px;
                    margin-top: 100px;
                }

            }
        }       
}

.fireplace5 {
    &__blocks {
        display: grid;

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

        &-block1 {
            text-align: center;
        }

        &-block2 {
            text-align: center;
        }

        &-block3 {
            padding-left: 200px;
        }

        &-block5 {
            h4 {
                padding-left: 200px;
            }
            p {
                padding-left: 200px;
            }
        }

        &-block6 {
            padding-top: 20px;
            h4 {
                padding-left: 200px;
            }
            p {
                padding-left: 200px;
            }
        }

}
}
}


@media (max-width: 767px) {
    .header {
        padding: 5%;
        &__nav {
            .list {
                display: none;
            }

            .burger {
                display: block;
            }
        }
    }

    .fireplace1 {
        &__info {
            width: 100%;

            &-title {
                font-size: 54px;
            }

            &-applications {
                padding-top: 45px;
            
        }}

        &__kamin1 {
           display: none;
    }
}


    .fireplace2 {

        h2 {
            font-size: 32px;
        }
        
        .kamin2 {
            width: 100%;
        }

        &__applications2 {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            
    
            div {
                display: flex;
                gap: 5px;
                align-items:center;
    
                p {
                    font-size: 14px;
                }
    
            }
        }
    }

    .fireplace3 {
        .refueling {
            &__description2 {
                &-kamin3 {
                    display: none;
                }
            
                &-ellipse {
                    margin-left: -20px;
                    margin-top: 70px;
                    width: 250px;
                }

                &-circle2 {
                    width: 134px;
                    height: 134px;
                    margin-left: 70px;
                    margin-top: 150px;
                    display: none;
                }
                
                &-circle1 {
                    width: 58px;
                    height: 58px;
                    margin-left: 30px;
                    margin-top: 120px;
                    display: none;
                }

            }
        }       
}

.fireplace4 {
    padding-top: 150px;

    &__title {
        font-size: 30px;
    }

    
}

.fireplace5 {
    &__blocks {
        display: grid;

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

        &-block1 {
            text-align: center;
        }

        &-block2 {
            text-align: center;
        }

        &-block3 {
            padding-left: 100px;
        }

        &-block5 {
            h4 {
                padding-left: 95px;
            }
            p {
                padding-left: 95px;
            }
        }

        &-block6 {
            padding-top: 20px;
            h4 {
                padding-left: 95px;
            }
            p {
                padding-left: 95px;
            }
        }

}
}

.fireplace7 {
    &__order-table {
        .controller {
            padding-top: 50px;
        }
    }

    &__parameters {
        .btn {
            width: 154px;
            height: 40px;
        }

        &-prices {
            .price2 {
                font-size: 26px;
            }
    }
}
}
}

@media (max-width: 575.98px){
    .fireplace1 {
        &__info {
            &-title {
                font-size: 34px;
            }
        }
    }

    .fireplace2 {
        &__applications2 {
            img {
                display: none;
            }
            p {
                font-size: 8px; 
            }
        }
    }

    .fireplace3 {
        .refueling {
            &__description2 {

                // display: none;
                &-kamin3 {
                   display: none;
                }
            
                &-ellipse {
                    width: 200px;
                    height: 200px;
                    margin-left: -100px;
                    margin-top: 40px;
                }

                &-circle2 {
                    display: none;
                }
                
                &-circle1 {
                    display: none;
                }

            }
        }   
        .instruction {
            padding-top: 90px;
        }    
}

.fireplace5 {
    &__blocks {
        display: grid;

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

        &-block1 {
            text-align: center;

            img {
                width: 80%;
            }
        }

        &-block2 {
            text-align: center;
        }

        &-block3 {
            padding-left: 20px;
        }

        &-block4 {
            padding-top: 50px;
            .swiper {
                width: 420px;
                height: 300px;
              }
        }

        &-block5 {
            h4 {
                padding-left: 20px;
            }
            p {
                padding-left: 20px;
            }

            .swiper {
                width: 420px;
                height: 300px;
              }
        }

        &-block6 {
            padding-top: 20px;
            h4 {
                padding-left: 20px;
            }
            p {
                padding-left: 20px;
            }

            .swiper {
                width: 420px;
                height: 300px;
              }
        }

}
}
.fireplace7 {
    &__order-table {
        img {
            width: 433px;
            height: 274px;
        }
        .controller {
            width: 433px;

            &__range {
                width: 430px;
            }

            &__text1 {
                padding-left: 20px;
            }

            .checkbox {
                padding-left: 20px;
            }
        }
}
}
}

@media (max-width: 400px){
    .header {
        &__nav {
            .list {
                gap: 1%;
            }

            .burger {
                display: none;
            }
        }
    }
    .fireplace1 {
        &__info {
            &-title {
                font-size: 30px;
            }
        }
    }

    .fireplace2 {

        h2 {
            font-size: 28px;
        }
    }

    .fireplace3 {
        .refueling {
            &__description1 {
                h3 {
                    font-size: 32px;
                }
            }
            &__description2 {
                &-kamin3 {
                   display: none;
                }
            
                &-ellipse {
                    display: none;
                }
            }
         }
    }
    .fireplace5 {
        &__blocks {
            display: grid;
    
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    
            &-block1 {
                text-align: center;
    
                img {
                    width: 80%;
                }
            }
    
            &-block2 {
                text-align: center;
            }
    
            &-block3 {
                padding-left: 20px;
                display: none;
            }
    
            &-block4 {
                padding-top: 50px;
                .swiper {
                    width: 320px;
                    height: 250px;
                  }
            }
    
            &-block5 {
                h4 {
                    padding-left: 20px;
                }
                p {
                    padding-left: 20px;
                }
    
                .swiper {
                    width: 320px;
                    height: 250px;
                  }
            }
    
            &-block6 {
                padding-top: 20px;
                h4 {
                    padding-left: 20px;
                }
                p {
                    padding-left: 20px;
                }
    
                .swiper {
                    width: 320px;
                    height: 250px;
                  }
            }
    
    }

    &__catalog {
        text-align: center;
        &-title {
            font-size: 20px;
            line-height: 20px;
        }

        &-btn {
            width: 200px;
        }
    }
}

.fireplace7 {
    &__title {
        font-size: 25px;
    }
    &__order-table {
        img {
            margin-left: 20px;
            width: 400px;
            height: 250px;
        }
        .controller {
            width: 400px;

            &__range {
                width: 390px;
                margin-left: 20px;
            }

            &__text1 {
                margin-left: 20px;
            }

            .checkbox {
                margin-left: 20px;
            }
        }
}
}
}