* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background:  #1d1d1c;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

@import "header";
@import "fireplace1";
@import "fireplace2";
@import "fireplace3";
@import "fireplace4";
@import "fireplace5";
@import "fireplace7";
@import "media";